body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    
}

#roll{
    text-transform: uppercase;
}

input{
    height:30px;
    text-align: center;
}

#creds{
    border: 5px solid black;
    padding :30px 30px 15px 30px;
    background-color:whitesmoke;
}

.label{
    margin: 5px 0px 5px 0px;
}

#captcha_box{
    display: block;
    padding: 0px;
    margin: 15px 0px 10px 0px;
}

#captcha{
    display: block;
}

#captcha_img{
    margin-bottom: 5px;
    padding-left: 1px;
}

#submit{
    margin-top:30px;
    text-align: center;
}

#visibility_option{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#visibility_option_label{
    font-size: 13px;
}

.message{
    background-color: black;
    color:white;
    width: 281px;
    text-align: center;
    margin-bottom: 10px;

}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}



.decreased{
    color:red;
}
.increased{
    color:rgb(4, 174, 4);
}

#legend{
    margin-top:10px;
    justify-content: center;
}

.stat{
    margin: 5px;
}

#back{
    margin-top : 10px;
}