<html>
    <head>
        <title>credentials</title> 

        <style>
            input{
                margin-top: 5px;
                margin-bottom:10px;
            }

            body{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        
        

    </head>

    <body>
        
        <form action="http://localhost:5000/attandance" method="post" id="cred_form">

            <label for="roll">roll number</label>
            <div>
            <input type="text" id="roll" name="roll"required>
            </div>

            <label for="password">password</label>
            <div>
            <input type="password" id="password" name="password" required>
            </div>

            <input type="submit" value="continue">
 
        </form>

        <script src="credentials.js"></script>
    </body>
</html>