<html>
    <head>
        <title>credentials</title>
        <link rel="stylesheet" href="credentials.css">
        <script src="http://localhost:5067/socket.io/socket.io.js"></script>
    </head>

    <body>

        <div id="login">
        <div id="message"></div>
        <form method="dialog" id="creds">
            <div>
                <div class="label"><b>
                    Roll number
                </b></div>
                <input type="text" id="roll" required>
            </div>

            <div>
                <div class="label"><b>
                    Password
                </b></div>
                <input type="password"  id="password" required checked="false">

                <div id="visibility_option">
                <input type="checkbox" name="visibility_option" style="margin-left: 0px; padding-left: 0px;">
                <label for="visibility_option" id="visibility_option_label">show password</label>
                </div>
            </div>

            <div id="captcha_box">
                <img src="#" alt="captcha" id="captcha_img"> 
                <input type="text"  id="captcha" required placeholder="captcha will be loaded" autocomplete="off">
            </div>

            <div id="submit">
                <input type="submit" value="check status" id="fetch_att">
            </div>
            
        </div>
        
    </div>

    <div id="attendance"></div>
    <div id="legend">
        <div class="increased stat">INCREASED</div>
        <div class="stat">IS SAME</div>
        <div class="decreased stat"> DECREASED</div>
    </div>
    <button id="back">go back to login</button>
    

    <script src="socket_connection.js"></script>
    <script src="credentials.js"></script>

    </body>
</html>